{% extends'base.html.twig' %}
{% block body %}

    <div class="container mt-4">
        <h1>Page d'inscription</h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.username, {'label':'Nom d\'utilisateur','attr':{'placeholder' : 'username'}}) }}
                {{ form_row(form.email, {'label':'Adresse email','attr':{'placeholder' : 'email'}}) }}
                {{ form_row(form.password, {'label':'Mot de passe','attr':{'placeholder' : 'password'}}) }}
                {{ form_row(form.confirm_password, {'label':'Confirmation du mot de passe','attr':{'placeholder' : 'confirm password'}}) }}
            </div>
        <div class="row">
            <div class="cold-md-4">
                <img src="" alt="" class="image">
            </div>
        </div>    
        </div>



            <button type="submit" class="btn btn-success">Inscription</button>

            {{ form_end(form) }}
    </div>

{% endblock %}